body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

conversations {
  id {
    font-size: 0.7em;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  conversation {
    display: block;

    width: 30vw;

    .self {

    }

    .partner {
      text-align: right;
    }
  }
}