body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

App {
  overflow-y: auto;

  id {
    font-size: 0.7em;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  conversations {
    display: flex;

    conversation {
      flex: 0 0 auto;

      display: flex;
      flex-direction: column;

      padding: 1px;

      width: 30vw;

      border: solid 1px #999;

      &.connected, &.completed {
        background-color: rgba(192, 256, 192, 0.5);
      }

      &.disconnected {
        background-color: rgba(256, 256, 192, 0.5);
      }

      &.failed {
        background-color: rgba(256, 192, 192, 0.5);
      }

      partner-info {
        flex: 0 1 auto;

        display: flex;

        align-items: flex-end;
        justify-content: space-between;

        id {
          flex: 0 1 auto;
        }

        discovered-at, connected-at, disconnected-at {
          font-size: 0.55em;
        }
      }

      channels {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;

        chat {
          flex: 1 0 auto;

          display: block;

          messages {
            display: flex;
            flex-direction: column;

            max-height: 40vh;
            overflow-y: auto;

            message {
              flex: 0 0 auto;

              display: block;

              padding: 0.2em;

              container {
                display: inline-block;

                padding: 0.1em;

                border: solid 1px rgba(192, 192, 192, 0.5);
                border-radius: 2px;

                background-color: rgba(192, 128, 128, 1);

                transition: background-color 0.25s linear;

                data, time {
                  display: block;

                  word-break: break-word;
                }
              }
            }
          }
        }

        issues {
          flex: 0 0 auto;

          display: block;
          max-height: 30vh;

          border: solid 1px #999;

          issue-list {
            display: flex;
            flex-wrap: wrap;

            issue-id {
              display: block;
              width: 1em;

              margin: 0.1em;

              text-align: center;
              border: solid 1px #999;

              cursor: pointer;

              &.shown {
                background-color: #999;
              }
            }
          }

          issue-detail {
            flex: 1 0 auto;

            display: block;
          }

          issue-input {
            flex: 1 0 auto;

            display: block;
          }
        }

        game {
          display: flex;
          flex-direction: column;

          canvas {
            position: relative;

            width: 100%;
          }

          messages {
            word-break: break-all;
          }
        }

        message {
          display: flex;
          flex-direction: column;

          time {
            color: #555;

            font-size: 0.55em;
          }

          data {

          }
        }

        form {
          flex: 1 1 auto;

          display: flex;

          input {
            flex: 1 1 auto;

            border: none;
            border-top: solid 1px #999;
            border-bottom: solid 1px #999;
          }
        }

        .self {

        }

        .partner {
          text-align: right;
        }
      }
    }
  }
}

.message-time-loop(@transitionPercentage) when (@transitionPercentage >= 0) {
  .message-time-@{transitionPercentage} {
    background-color: rgba(192 * (@transitionPercentage / 100), 128, 128 + 128 * (1 - (@transitionPercentage / 100)), 0.5);
  }

  .message-time-loop(@transitionPercentage - 5);
}

.message-time-loop(100);