body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

App {
  overflow-y: auto;

  id {
    font-size: 0.7em;
  }

  li {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  conversations {
    display: flex;

    justify-content: center;

    conversation {
      flex: 0 0 auto;

      display: flex;
      flex-direction: column;

      padding: 1px;

      width: 30vw;

      border: solid 1px #999;

      &.connected, &.completed {
        background-color: rgba(192, 256, 192, 0.5);
      }

      &.disconnected {
        background-color: rgba(256, 256, 192, 0.5);
      }

      &.failed {
        background-color: rgba(256, 192, 192, 0.5);
      }

      partner-info {
        flex: 0 1 auto;

        display: flex;

        align-items: flex-end;
        justify-content: space-between;

        id {
          flex: 0 1 auto;
        }

        discovered-at, connected-at, disconnected-at {
          font-size: 0.55em;
        }
      }

      channels {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;

        chat {
          flex: 1 0 auto;

          display: block;

          messages {
            display: flex;
            flex-direction: column;

            max-height: 40vh;
            overflow-y: auto;

            message {
              flex: 0 0 auto;

              display: block;

              padding: 0.2em;

              container {
                display: inline-block;

                padding: 0.1em;

                border: solid 1px rgba(192, 192, 192, 0.5);
                border-radius: 2px;

                background-color: rgba(192, 128, 128, 1);

                transition: background-color 0.25s linear;

                data, time {
                  display: block;

                  word-break: break-word;
                }
              }
            }
          }
        }

        issues {
          flex: 0 0 auto;

          display: block;
          max-height: 30vh;

          border: solid 1px #999;

          issue-list {
            display: flex;
            flex-wrap: wrap;

            issue-id {
              display: block;
              width: 1em;

              margin: 0.1em;

              text-align: center;
              border: solid 1px #999;

              cursor: pointer;

              &.shown {
                background-color: #999;
              }
            }
          }

          issue-detail {
            flex: 1 0 auto;

            display: block;
          }

          issue-input {
            flex: 1 0 auto;

            display: block;
          }
        }

        time {
          max-height: 5em;

          font-size: 0.6em;

          overflow-y: auto;

          info {
            display: flex;

            justify-content: flex-end;
            align-items: center;

            name {
              padding: 0.05em;

              font-size: 1.25em;

              border: solid 1px transparent;

              cursor: pointer;

              user-select: none;

              &.show-log {
                background-color: rgba(192, 192, 0, 0.05);
                border: solid 1px rgba(0, 0, 0, 0.25);

                toggle {
                  transform: rotateX(-180deg);
                }
              }

              toggle {
                display: inline-block;

                font-size: 0.75em;

                transform: rotateX(0deg);

                transition: transform 0.25s linear;

                transform-origin: 0 25%;
              }
            }

            binned-series {
              position: relative;

              height: 1em;

              display: flex;

              background: rgba(0, 0, 0, 0.25);

              point {
                position: relative;

                height: calc(1em / 5);
                width: 0.25em;

                background-color: #090;
              }
            }

            latency {
              display: flex;
              flex-direction: column;

              justify-content: flex-end;
              align-items: center;

              font-size: 1em;

              value {
                display: block;

              }

              max-latency {
                display: block;

                font-size: 0.8em;
              }
            }
          }

          messages {
            display: flex;

            flex-direction: column;

            align-items: flex-end;
          }
        }

        game {
          display: flex;
          flex-direction: column;

          start-game {
            display: flex;

            justify-content: center;
            align-items: center;
          }

          game-area {
            canvas {
              position: relative;

              width: 100%;

              cursor: pointer;

              user-select: none;

              -webkit-tap-highlight-color: transparent;
            }

            stats {
              display: flex;

              justify-content: space-between;

              player-stats {
                flex: 1 0 auto;

                display: flex;

                flex-direction: column;

                font-size: 0.6em;

                &:first-child {
                  direction: rtl;
                }

                resource-container {
                  flex: 1 0 auto;

                  position: relative;

                  display: flex;

                  align-items: center;

                  &.r {
                    background-color: rgba(255, 0, 0, 0.2);

                    resource-bar { background-color: #a00; }
                  }

                  &.g {
                    background-color: rgba(0, 255, 0, 0.2);

                    resource-bar { background-color: #0a0; }
                  }

                  &.b {
                    background-color: rgba(0, 0, 255, 0.2);

                    resource-bar { background-color: #00a; }
                  }

                  resource-value {
                    display: inline;

                    align-items: center;

                    margin: 0 0.25em;

                    // font-weight: bold;

                    line-height: 1em;

                    color: #ff0;
                    text-shadow: 0px 0px 1.5px #000;

                    z-index: 2;
                  }

                  resource-bar {
                    position: absolute;

                    display: block;

                    height: 1em;

                    max-width: 100%;
                  }
                }
              }
            }

            message-area {
              display: flex;

              justify-content: space-between;

              messages {
                word-break: break-all;

                message {
                  display: flex;
                  flex-direction: column;

                  time {
                    color: #555;

                    font-size: 0.55em;
                  }

                  data {

                  }
                }
              }
            }

            button {
              user-select: none;
            }
          }
        }

        form {
          flex: 1 1 auto;

          display: flex;

          input {
            flex: 1 1 auto;

            border: none;
            border-top: solid 1px #999;
            border-bottom: solid 1px #999;
          }
        }

        .self {

        }

        .partner {
          text-align: right;
        }
      }
    }
  }
}

.message-time-loop(@transitionPercentage) when (@transitionPercentage >= 0) {
  .message-time-@{transitionPercentage} {
    background-color: rgba(192 * (@transitionPercentage / 100), 128, 128 + 128 * (1 - (@transitionPercentage / 100)), 0.5);
  }

  .message-time-loop(@transitionPercentage - 5);
}

.message-time-loop(100);